if statements

In [26]:
cars=["bmw","audi","bentley","volvo"]

In [27]:
for car in cars:
    if car=="bmw":
        print(car.upper())
    else:
        print(car.title())

BMW
Audi
Bentley
Volvo
BMW
Audi
Bentley
Volvo

In [3]:
requested_topping="mushrooms"
if requested_topping!="anchovies":
    print("hold the anchovies!")

hold the anchovies!
hold the anchovies!

In [4]:
age0=24
age1=19
age0>21 & age1>21

False

False

In [5]:
age0>21 or age1>21

True

True

In [6]:
toppings=["mushroom","cheese","onion"]
"onion" in toppings

True

True

In [7]:
"tomato" in toppings

False

False

In [8]:
if "tomato" not in toppings:
    print("nhi hai isme!")

nhi hai isme!
nhi hai isme!

In [9]:
car="Subaru"
print("Is car=='Subaru'? i predict True")
print(car=="Subaru")

Is car=='Subaru'? i predict True
True
Is car=='Subaru'? i predict True
True

In [10]:
numbers=list(range(1,50,2))
numbers

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

In [11]:
test=[3,6,9,12,15,19,20,24,27,29]
for i in test:
    if i in numbers:
        print(str(i) + " hai dono mai!")
    else:
        print(str(i) + " nhi hai")

3 hai dono mai!
6 nhi hai
9 hai dono mai!
12 nhi hai
15 hai dono mai!
19 hai dono mai!
20 nhi hai
24 nhi hai
27 hai dono mai!
29 hai dono mai!
3 hai dono mai!
6 nhi hai
9 hai dono mai!
12 nhi hai
15 hai dono mai!
19 hai dono mai!
20 nhi hai
24 nhi hai
27 hai dono mai!
29 hai dono mai!

In [12]:
age=20
if age<4:
    print("free entry")
elif age>4 and age<18:
    print("$5")
else:
    print("$10")

$10
$10

In [13]:
age=65
if age<5:
    price=0
elif age<18:
    price=5
elif age<65:
    price=10
else:
    price=5
    
print("your admission cost is $"+ str(price) )

your admission cost is $5
your admission cost is $5

In [14]:
req_topping=["mushrooms","cheese"]
if "mushrooms" in req_topping:
    print("Add mushrooms")
if "cheese" in req_topping:
    print("Add cheese")
if "chilli" in req_topping:
    print("add chilli")
    
print("\nFINISHED PREPARATION !! ")

Add mushrooms
Add cheese

FINISHED PREPARATION !!
Add mushrooms
Add cheese

FINISHED PREPARATION !!

In [15]:
alien_color="red"
if alien_color =="green":
    print("5 points")

In [16]:
alien_color="red"
if alien_color =="red":
    print("5 points")

5 points
5 points

In [17]:
alien_color="red"
if alien_color =="green":
    print("5 points")
else:
    print("10 points!")

10 points!
10 points!

In [18]:
alien_color="red"
if alien_color =="green":
    print("5 points")
elif alien_color=="yellow":
    print("10 points!")
elif alien_color=="red":
    print("15 points !")

15 points !
15 points !

In [19]:
age=20
if age<2:
    msg="baby"
elif age<4:
    msg="toodler"
elif age<13:
    msg="kid"
elif age<20:
    msg="teenager"
elif age<65:
    msg="adult"
else:
    msg ="elder"
    
print("THE PERSON IS " + msg.upper())

THE PERSON IS ADULT
THE PERSON IS ADULT

In [20]:
fv_fruits=["mango","apple","pears","banana","grape"]
for i in fv_fruits:
    print(i)

mango
apple
pears
banana
grape
mango
apple
pears
banana
grape

In [21]:
favourite_fruits=["apple","banana","grape"]
for x in fv_fruits:
    if x in favourite_fruits:
        print("you really like "+ x)

you really like apple
you really like banana
you really like grape
you really like apple
you really like banana
you really like grape

In [22]:
requested_toppings=["mushrooms","green peppers","extra cheese"]
for requested_topping in requested_toppings:
    if requested_topping=="green peppers":
        print("out of stock!!")
    else:
        print("added "+   requested_topping)
        
print("\nFinished making your pizza!")

added mushrooms
out of stock!!
added extra cheese

Finished making your pizza!
added mushrooms
out of stock!!
added extra cheese

Finished making your pizza!

In [23]:
names=["drek","john","vito","marcus","admin"]
for i in names:
    if i=="admin":
        print("HELLO ADMIN, WOULD YOU LIKE TO SEE STATUS REPORT?")
    else:
        print("Hello " +i+" , thankyou for looging in")

Hello drek , thankyou for looging inHello drek , thankyou for looging in
Hello john , thankyou for looging in
Hello vito , thankyou for looging in
Hello marcus , thankyou for looging in
HELLO ADMIN, WOULD YOU LIKE TO SEE STATUS REPORT?

Hello john , thankyou for looging in
Hello vito , thankyou for looging in
Hello marcus , thankyou for looging in
HELLO ADMIN, WOULD YOU LIKE TO SEE STATUS REPORT?

In [31]:
names=[]
x=len(names)
if x==0:
    print("no names!")

no names!
no names!

In [35]:
current_users=["adjuricator","john","viggo","marcus","winston"]
off_current_users=[x.title() for x in current_users]
new_users=["John","winston","sharon","bowry king"]
off_new_users=[y.title() for y in new_users]

print(current_users)
print(off_current_users)
print(new_users)
print(off_new_users)

['adjuricator', 'john', 'viggo', 'marcus', 'winston']
['Adjuricator', 'John', 'Viggo', 'Marcus', 'Winston']
['John', 'winston', 'sharon', 'bowry king']
['John', 'Winston', 'Sharon', 'Bowry King']
['adjuricator', 'john', 'viggo', 'marcus', 'winston']
['Adjuricator', 'John', 'Viggo', 'Marcus', 'Winston']
['John', 'winston', 'sharon', 'bowry king']
['John', 'Winston', 'Sharon', 'Bowry King']

In [36]:
for i in off_new_users:
    if i in off_current_users:
        print("Usename " + i +" unavailable. Enter a new username ")
    else:
        print("username "+ i +" available!")

Usename John unavailable. Enter a new username
Usename Winston unavailable. Enter a new username
username Sharon available!
username Bowry King available!
Usename John unavailable. Enter a new username
Usename Winston unavailable. Enter a new username
username Sharon available!
username Bowry King available!

In [37]:
numbers=list(range(1,10))

In [39]:
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
for i in numbers:
    if i==1:
        print(str(i)+"st")
    elif i==2:
        print(str(i)+"nd")
    elif i==3:
        print(str(i)+"rd")
    else:
        print(str(i)+"th")

1st
2nd
3rd
4th
5th
6th
7th
8th
9th
1st
2nd
3rd
4th
5th
6th
7th
8th
9th