CHAPTER 3

In [2]:
# make a list
bicycles=["trek","cannondale","bsa","hero"]
bicycles

['trek', 'cannondale', 'bsa', 'hero']

In [3]:
bicycles[0].title()

'Trek'

In [4]:
bicycles[-1]

'hero'

In [5]:
print(bicycles[1])

cannondale

In [8]:
message="my first bicycle was a "+ bicycles[2].title() + " ."
print(message)

my first bicycle was a Bsa .

In [16]:
# modifying lists
motorcycles=["honda","hero","bajaj"]
print(motorcycles)

['honda', 'hero', 'bajaj']

In [17]:
motorcycles[0]="yamaha"
print(motorcycles)

['yamaha', 'hero', 'bajaj']

In [18]:
# adding new elements to a list
motorcycles.append("honda")
motorcycles

['yamaha', 'hero', 'bajaj', 'honda']

In [19]:
motorcycles.insert(0,"suzuki")
motorcycles

['suzuki', 'yamaha', 'hero', 'bajaj', 'honda']

In [20]:
del motorcycles[3]

In [21]:
motorcycles

['suzuki', 'yamaha', 'hero', 'honda']

In [23]:
# using pop lets you work with the removed value after removing it
motorcycles=['suzuki', 'yamaha', 'hero', 'honda']
popped_motorcycles=motorcycles.pop()
print(motorcycles)
popped_motorcycles

['suzuki', 'yamaha', 'hero']

'honda'

In [24]:
motorcycles=['suzuki', 'yamaha', 'hero', 'honda']
last_owned=motorcycles.pop()
print("Last owned motorcycle is " + last_owned + " !")

Last owned motorcycle is honda !

In [25]:
# remove an item by value
motorcycles.remove("hero")

In [26]:
motorcycles

['suzuki', 'yamaha']

In [43]:
guests=["Trump","obama","modi","putin"]
guests

['Trump', 'obama', 'modi', 'putin']

In [40]:
print("COME ON COME ALL, TO MY PARTY INVITING YOU " +guests[0].title() + " !!")
print("COME ON COME ALL, TO MY PARTY INVITING YOU " +guests[1].title() + " !!")
print("COME ON COME ALL, TO MY PARTY INVITING YOU " +guests[2].title() + " !!")
print("COME ON COME ALL, TO MY PARTY INVITING YOU " +guests[3].title() + " !!")

COME ON COME ALL, TO MY PARTY INVITING YOU Trump !!
COME ON COME ALL, TO MY PARTY INVITING YOU Obama !!
COME ON COME ALL, TO MY PARTY INVITING YOU Modi !!
COME ON COME ALL, TO MY PARTY INVITING YOU Putin !!

In [41]:
print(guests[3]+ " can't make it to the party")

putin can't make it to the party

In [47]:
guests=["Trump","obama","modi","putin"]
guests.remove("modi")
guests

['Trump', 'obama', 'putin']

In [48]:
guests.append("queen")
guests

['Trump', 'obama', 'putin', 'queen']

In [49]:
print("COME ON COME ALL, TO MY PARTY INVITING YOU " +guests[3].title() + " !!")

COME ON COME ALL, TO MY PARTY INVITING YOU Queen !!

In [50]:
print("HURAAH!!!! To all party comers , we just found a bigger table ")

HURAAH!!!! To all party comers , we just found a bigger table

In [51]:
guests.insert(4,"JUSTIN")

In [53]:
guests.insert(5,"benjamin")
guests.append("golu")

In [54]:
guests

['Trump', 'obama', 'putin', 'queen', 'JUSTIN', 'benjamin', 'golu']

In [55]:
print("COME ON COME ALL, TO MY PARTY INVITING YOU " +guests[4].title() + " !!")
print("COME ON COME ALL, TO MY PARTY INVITING YOU " +guests[5].title() + " !!")
print("COME ON COME ALL, TO MY PARTY INVITING YOU " +guests[6].title() + " !!")

COME ON COME ALL, TO MY PARTY INVITING YOU Justin !!
COME ON COME ALL, TO MY PARTY INVITING YOU Benjamin !!
COME ON COME ALL, TO MY PARTY INVITING YOU Golu !!

In [57]:
print("  Dinner table not pproved. Can only invite 2 people now")

  Dinner table not pproved. Can only invite 2 people now

In [62]:
guests=['Trump', 'obama', 'putin', 'queen', 'JUSTIN', 'benjamin', 'golu']
get_out=guests.pop(1)
get_out=guests.pop(4)
get_out=guests.pop(3)
get_out=guests.pop(0)
get_out=guests.pop()
guests

['putin', 'queen']

In [63]:
del guests[1]
del guests[0]

In [64]:
guests

[]

In [68]:
#sorting
cars=["BMW","TESLA",'Audi',"SUBARU"]
cars

['BMW', 'TESLA', 'Audi', 'SUBARU']

In [69]:
cars.sort()
cars

['Audi', 'BMW', 'SUBARU', 'TESLA']

In [70]:
cars.sort(reverse=True)

In [71]:
cars

['TESLA', 'SUBARU', 'BMW', 'Audi']

In [72]:
cars=["audi","maruti","bmw"]
print(sorted(cars) )
print(cars)

['audi', 'bmw', 'maruti']
['audi', 'maruti', 'bmw']

In [73]:
cars=["audi","maruti","bmw"]
cars.reverse()
cars

['bmw', 'maruti', 'audi']

In [74]:
len(cars)

3

In [75]:
places=["venice","new york","fiji","tokyo","kashmir"]
places

['venice', 'new york', 'fiji', 'tokyo', 'kashmir']

In [76]:
sorted(places)

['fiji', 'kashmir', 'new york', 'tokyo', 'venice']

In [77]:
places

['venice', 'new york', 'fiji', 'tokyo', 'kashmir']

In [79]:
sorted(places,reverse=True)

['venice', 'tokyo', 'new york', 'kashmir', 'fiji']

In [80]:
places

['venice', 'new york', 'fiji', 'tokyo', 'kashmir']

In [81]:
places.reverse()

In [82]:
places

['kashmir', 'tokyo', 'fiji', 'new york', 'venice']

In [83]:
places.reverse()
places

['venice', 'new york', 'fiji', 'tokyo', 'kashmir']

In [84]:
places.sort()
places

['fiji', 'kashmir', 'new york', 'tokyo', 'venice']

In [85]:
places.sort(reverse=True)

In [86]:
places

['venice', 'tokyo', 'new york', 'kashmir', 'fiji']